.mainDiv{

    position: fixed;
    top: 0;
    z-index: 12;
    bottom: 0;
    left: 0;

    right: 0;
    transition: 0.5s ease-in-out all;
    z-index: 1001 !important;
    background-color: rgb(249, 249, 249);
}
.ovDivv{
    overflow-y: scroll;
}
.topSection{
    width: 100%;
    
    top: 0px;

    position: fixed;
    border-bottom:2px solid rgb(138, 138, 138) ;
    display: flex;
    align-items: center;
}
.backBtn{
    padding: 20px 25px 20px 34px;
    border-right:2px solid rgb(138, 138, 138) ;
    transition: 0.2s all ease-in-out;
}
.backBtn:hover{

    background-color: rgb(182, 182, 182);
}
.topTitle{
    position: absolute;
    right: 20px;
    font-family: YekanBold;
    font-size: 25px;
}
.formDiv{
    max-width: 600px;
    width: 100%;
    text-align: right;
    height: 100%;
    overflow-y: scroll;
    padding:28px 20px 60px 20px;
    margin:40px auto 0px auto;
    overflow-x: none;
   
}



.fadeIn{

    animation: openModal ease-in-out 0.3s forwards;
}
.fadeOut{
    animation: closeModal ease-in-out 0.2s forwards;

}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);

    }
    50% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes closeModal {
    0% {

        opacity: 1;
        transform: translateY(0%);

    }
    50% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
.ovDiv{
    background-color: rgb(232, 232, 232);
    padding: 10px;
    border-radius: 4px;
}

.name span{
    margin-top: 3px !important;
    font-family:YekanBold;
    font-size: 18px;
}
.name{

   
}
.context{
    margin-right: 5px;
    font-size: 14px;
}
.btnDiv{
    margin-top: 10px;
    text-align: right;
    padding: 5px 10px 20px 0px;
}


.secTitle{
    margin-bottom:10px;
    margin-top:25px;
    font-family:YekanBold;
    margin-right:10px;
    font-size:22px;
}


@media only screen and (max-width: 1200.98px) {

}


@media only screen and (max-width: 992.98px) {

    
}

@media only screen and (max-width: 768.98px) {
    .topSection{
        width: 100%;
        top: 0px;
        position: fixed;
        border-bottom:2px solid rgb(138, 138, 138) ;
        display: flex;
        align-items: center;
    }
    .backBtn{
        padding: 12px 25px 12px 34px;
        border-right:2px solid rgb(138, 138, 138) ;
        transition: 0.2s all ease-in-out;
    }
    .backBtn:hover{
        background-color: rgb(182, 182, 182);
    }
    .topTitle{
        position: absolute;
        right: 20px;
        font-size: 19px;
        font-family: YekanBold;
        
    }
    .formDiv{
        max-width: 600px;
        width: 100%;
        text-align: right;
        height: 100%;
        overflow-y: scroll;
        overflow-x: none;
        padding:18px 20px 60px 20px;
        margin:40px auto 0px auto;
        
    }
    .arrowIcon{
        font-size: 22px !important;
    }
    .secTitle{
        margin-bottom:10px;
        margin-top:25px;
        font-family:YekanBold;
        margin-right:10px;
        font-size:17px ;
    }
    .formDiv{
        padding: 0px 20px 0px 20px;
    }
    .btn{
        font-size: 13px !important;
    }
    .btn2{
        font-size: 20px !important;
    }
    .name span{
        
      font-size: 14px;
    
    }
    .icon{
        font-size: 23px !important;
    }
    .context{
        font-size: 12px;
        margin-top: 3px
    }
 }
 @media only screen and (max-width: 576.98px) {


    
 }

 @media only screen and (max-width: 356.98px) {

    

 }