.expendDiv{
    max-width:700px; 
    margin: 10px auto 0px auto;
    
 }

 .usersDiv {
    max-width: 700px;
    margin: 0px auto 0px auto;
 }
 .usersDiv h2{
    width: 100%;
    text-align: right;
    padding: 20px 20px 10px 20px !important;
    font-family:YekanBold ;
 }