@import '../../overalStyle/colors';

.css-1s2u09g-control{
    background-color: $inputColor !important;
    border: none !important;
    border-radius: 11px !important;
    height: 100%;
    padding: 3px 0px 3px 0px;
}


