.normalDiv label{
    position: absolute;
    right: 0px;
    left: auto;
    padding: 0px 10px 0px 10px;
    max-width: 100% !important;
    text-align: right;
    margin-right: 12px;
}
.meterDiv label{
    position: absolute;
    right: 0px;
    left: auto;
    padding: 0px 0px 0px 00px;
    max-width: 100% !important;
    text-align: right;
    margin-right: 0px;
}
.passwordDiv label{
    position: absolute;
    right: 0px;
    left: auto;
    padding: 0px 0px 0px 00px;
    max-width: 100% !important;
    text-align: right;
    margin-right: 20px;
}