@import '../../overalStyle/colors';
.titleDiv{
    display: inline-block;
    h3{
        font-size: 32px;
        font-family: YekanBold;
        
    }
    span{
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-left: 6px;
        border-radius: 80px;
        background-color: $primaryColor;
    }
}