.filterDiv{
    width: 100%;
    text-align: right;
    border-radius: 10px;
    max-height: 65px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: rgb(220, 220, 220);
}