.topSection{
    width: 100%;
    display: flex;
    position: relative;
    border-bottom:1px solid rgb(0, 0, 0) ;
    display: flex;
    align-items: center;
    margin-top: -8px;
}
.backBtn{
    padding: 10px 15px 10px 24px;
    border-right:2px solid rgb(138, 138, 138) ;
    transition: 0.2s all ease-in-out;
}
.backBtn:hover{

    background-color: rgb(182, 182, 182);
}
.topTitle{
    position: absolute;
    
    left: 80px;
    
    font-size: 16px;
    
    
}


