

.noDataIcon{
    font-size: 45px !important;
    display: flex;
    justify-content: center;
    color: rgb(149, 149, 149);
    margin-bottom:4px;
    align-items: center;
}


.title{
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    font-family: 'YekanBold';
    color: rgb(149, 149, 149);
}