.msgDiv{
    background-color: rgb(21, 21, 21);
    border: solid rgb(126, 240, 97) 3px;
    height: 60px;
    max-width: 300px;
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.successMsg{
    transition: 0.5s all ease-in-out;
    width: 100%;
    text-align: center;
    z-index: 13;
    position: fixed;
    margin-top: 30px;
}
.iconMsg{
    display: inline-block;
 
    padding-right: 10px;
    text-align: right;
}

.msgTextDiv{
    display: flex;
    height: fit-content;
    margin-top: 10px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    font-family:YekanRegular ;
}
.msgTextDiv h4{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
    color:#e4e4e4 ;
    font-family: YekanRegular;

}
.successMsgAnimateIn{
    transform: translateY(0);
}
.successMsgAnimateOut{
    transform: translateY(-200%);
}
.iconTick{
    font-size: 35px;
}
@media only screen and (max-width: 768.98px) {
    .msgTextDiv h4{
        display: inline-block;
        font-size: 11px;
        margin-bottom: 10px;
        color:#e4e4e4 ;
        font-family: YekanRegular;
    
    }
    .msgDiv{
        background-color: rgb(21, 21, 21);
        border: solid rgb(126, 240, 97) 2px;
        height: 54px;
        max-width: 250px;
        border-radius: 50px;
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .iconTick{
        font-size: 31px !important;
    }
}
