.background{
    background-color: rgb(231, 231, 231);
    max-width: 400px;
    width: 100%;
    border-radius: 0px;
    
    
}
.overDiv{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: none;
    padding: 0px 20px 0px 20px;
}
.keySiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 80px 0px;
}
.fields{
    text-align: right;
    padding: 0px 20px 0px 20px;
}

.fields label{
    position: absolute;
    right: 0px;
    left: auto;
    padding: 0px 0px 0px 00px;
    max-width: 100% !important;
    text-align: right;
    margin-right: 20px;
}

.logInBtnDiv{
    width: 100%;
    text-align: center;
    padding: 10px 20px 40px 20px;
}
.keySiv h2{
    font-size: 30px;
    font-family: YekanBold;
}