.imageDivForFileFolder{
    width: 100%;
    height: 180px;
    position: relative;
    background-color: rgb(247, 247, 247);

    img{
        object-fit: cover;
        margin: 0px auto 0px auto;
        height: 110px;
        width: auto;

    }
}
.imageDivForFileFolder:hover{
    width: 100%;
    height: 180px;
    background-color: rgb(218, 218, 218);

}
.galleryImgForFileFolder{
    object-fit: cover;
    width: 100%;
    height: 180px;
    background-color: rgb(247, 247, 247);

}
.fileNameForFileFolder{
    font-size: 13px;
    padding: 0px 10px 0px 10px;
    overflow-x: hidden;
    
}

.subToolSectionForFileFolder{
    position: absolute;
    bottom: 0px;
    width: 100%;
}







.folderDivForFolder{
    width: 100%;
    height: 180px;
    position: relative;
    background-color: rgb(247, 247, 247);

}
.folderDivForFolder:hover{
    width: 100%;
    height: 180px;
    background-color: rgb(218, 218, 218);
}
.folderIconForFolder{
    font-size: 110px !important;
    cursor: pointer;
}
.imageDivForFileFolder svg{
    max-height: 80px !important;
    margin-top: 10px;

}

.fileFolderGrid{
    max-height: 180px;
    margin: 0px !important;
    padding: 0px !important;
}













.containerItem{
    width: 100%;
    padding: 0px 20px 0px 20px;
}


.hrItem{
    width: 100%;
    display: flex;
    height: 60px;

    align-items: center;
    padding: 10px 25px 10px 25px;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
    img{
        width: 36px !important;
        height: 50px !important;
        object-fit: contain;
    }
    span{
        font-size: 14px;
        margin-left: 5px;
    }
}
.hrItem:hover{
    background-color: rgb(229, 229, 229);
}

.folderIcon{
    font-size: 45px !important;
}

.modified{
    font-size: 15px;
    color: gray;
}
.hrLine{
    justify-content:center;
    margin-left:10px !important;
    display:flex;
    align-items:center;
}

@media only screen and (max-width: 1200.98px) {
    .folderDivForFolder{
        width: 100%;
        height: 170px;
        position: relative;
    }
    .folderDivForFolder:hover{
        width: 100%;
        height: 170px;
        background-color: rgb(218, 218, 218);
    }
    .folderIconForFolder{
        font-size: 90px !important;
        cursor: pointer;
    }
    .fileNameForFileFolder{
        font-size: 12px;
    }
    
    .imageDivForFileFolder{
        width: 100%;
        height: 170px;
        position: relative;
        img{
            object-fit: cover;
            margin: 0px auto 0px auto;
            height: 110px;
            width: auto;
    
        }
    }
    .imageDivForFileFolder:hover{
        width: 100%;
        height: 170px;
        background-color: rgb(218, 218, 218);
    }
    
}


@media only screen and (max-width: 992.98px) {
    .folderDivForFolder{
        width: 100%;

        height: 160px;

        position: relative;
    }
    .folderDivForFolder:hover{
        width: 100%;
        height: 160px;
        background-color: rgb(218, 218, 218);
    }
    .folderIconForFolder{
        font-size: 90px !important;
        cursor: pointer;
    }
    .fileNameForFileFolder{
        font-size: 12px;
    }
    
}
  @media only screen and (max-width: 768.98px) {
    .folderDivForFolder{
        width: 100%;
        height: 160px;    
        position: relative;
    }
    .folderDivForFolder:hover{
        width: 100%;
        height: 160px;
        background-color: rgb(218, 218, 218);
    }
    .folderIconForFolder{
        font-size: 80px !important;
        cursor: pointer;
    }
    .fileNameForFileFolder{
        font-size: 12px;
    }
 }
 @media only screen and (max-width: 576.98px) {

    .folderDivForFolder{

        width: 100% !important;
        height: 160px;
        position: relative;
        margin: 0px !important;
    }
    .folderDivForFolder:hover{
        width: 100% !important;
        height: 160px;
        background-color: rgb(218, 218, 218);
    }
    .folderIconForFolder{
        font-size: 92px !important;
        cursor: pointer;
    }
    .fileNameForFileFolder{
        font-size: 12px;
    }
    
    .imageDivForFileFolder{
        width: 100%;
        height: 160px;
        position: relative;
        background-color: rgb(247, 247, 247);
    
        img{
            object-fit: cover;
            margin: 0px auto 0px auto;
            height: 90px;
            width: auto;
    
        }
    }
    .imageDivForFileFolder:hover{
        width: 100%;
        height: 160px;
        background-color: rgb(218, 218, 218);
    
    }




    .containerItem{
        width: 100%;
        padding: 0px 8px 0px 8px;
    }

    .hrItem{
        width: 100%;
        display: flex;
        height: 60px;
    
        align-items: center;
        padding: 10px 5px 10px 5px;
        transition: 0.2s ease-in-out all;
        cursor: pointer;
        img{
            width: 36px !important;
            height: 50px !important;
            object-fit: contain;
        }
        span{
            font-size: 12px;
            margin-left: 5px;
        }
    }
    .modified{
        font-size: 12px;
        color: gray;
        span{
            display: none;
        }
    }

 }

 @media only screen and (max-width: 356.98px) {

    

 }