$background:#ffffff;
$dimText:#969696;
$darkBackText:rgb(231, 231, 231);
$lightBackText:rgb(22, 22, 22);
$primaryColor:rgb(22, 22, 22);
$onTopColor:#FFFFFF;
$gray:#707070;
$inputColor:#F0F0F0;
$middColor:#F5F5F5;
$blockColor:#ffffff;
