@import '../../overalStyle/colors';
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(73, 73, 73)  !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(73, 73, 73)  !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(73, 73, 73)  !important;
}
.ovDiv{
   display: block;
   margin: 10px auto 0px auto;
   padding: 0px 20px 0px 20px;
}


.dashLine {
   border-top: 1px line  $dimText;
}
.dashLineVer {
   border-top: 2px dashed  $dimText;
   transform: rotate(90deg);
   max-width: 30px;
   padding: 5px 0px 5px 0px;
   margin-right: 20px;
}
 .personalInformation{
   padding: 25px 20px 20px 20px;
   background-color:$blockColor;
   border-radius: 11px;
 }
 .phoneNumberMainDiv{
   
   display: flex;
   align-items: center;
 }
 .dot{
   width: 40px;
   height: 40px;
   background-color: rgb(74, 74, 74);
   border-radius: 10px;
   margin-left: 6px;
   color: rgb(255, 255, 255);
   display: flex;
   padding-top: 5px;
   font-size: 12px;
   justify-content: center;
   align-items: center;
 }
 .phoneNumberCountry{
   width: 100%;
   padding: 0px 5px 0px 5px;
 }
 .iconButtonWithText{
   
 }


 .littleTitleDiv{
   margin-right: 14px;

 }


 .NormalBtn{
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color: $primaryColor;
  color:$darkBackText ;
  border: none;
  border-radius: 11px;
  margin-top: 35px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
 }

 .addressDeleteBtnWithIcon{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }


 .titlePaddign{
  padding: 15px 0px 5px 0px;
 }
 .titlePaddignSecond{
  padding: 5px 0px 0px 0px;

 }

 .newInvoice{

  position: fixed;
  top: 0;
  z-index: 12;
  bottom: 0;
  left: 0;
  
  right: 0;
  transition: 0.5s ease-in-out all;
  z-index: 1001 !important;
  background-color: rgb(249, 249, 249);
}
.topSection{
  width: 100%;
  top: 0px;
  background-color: rgb(236, 236, 236);
  position: relative;
  border-bottom:2px solid rgb(138, 138, 138) ;
  display: flex;
  align-items: center;
}
.backBtn{
  padding: 20px 25px 20px 34px;
  border-right:2px solid rgb(138, 138, 138) ;
  transition: 0.2s all ease-in-out;
}
.backBtn:hover{

  background-color: rgb(182, 182, 182);
}
.fadeIn{

  animation: openModal ease-in-out 0.3s forwards;
}
.fadeOut{
  animation: closeModal ease-in-out 0.2s forwards;

}

@keyframes openModal {
  0% {
      opacity: 0;
      transform: translateY(-100%);

  }
  50% {
      opacity: 0;
      transform: translateY(0%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}
@keyframes closeModal {
  0% {

      opacity: 1;
      transform: translateY(0%);

  }
  50% {
      opacity: 0;
      transform: translateY(0%);
  }
  100% {
      opacity: 0;
      transform: translateY(-100%);
  }
}


.topTitle{
  position: absolute;
  right: 20px;
  font-family: YekanBold;
  font-size: 25px;
}
@media only screen and (max-width: 1200.98px) {

}


@media only screen and (max-width: 992.98px) {

  
}

@media only screen and (max-width: 768.98px) {
  .topSection{
      width: 100%;
      top: 0px;
      position: relative;
      border-bottom:2px solid rgb(138, 138, 138) ;
      display: flex;
      background-color: rgb(236, 236, 236);
      align-items: center;
  }
  .backBtn{
      padding: 12px 25px 12px 34px;
      border-right:2px solid rgb(138, 138, 138) ;
      transition: 0.2s all ease-in-out;
  }
  .backBtn:hover{
      background-color: rgb(182, 182, 182);
  }
  .topTitle{
      position: absolute;
      right: 20px;
      font-size: 20px;
      font-family: YekanBold;
      
  }
  .formDiv{
      max-width: 600px;
      width: 100%;
      text-align: right;
      height: 100%;
      overflow-y: scroll !important;
      overflow-x: none;
      padding: 0px 20px 30px 20px;
      margin:0px auto 0px auto;
  }
  .arrowIcon{
      font-size: 22px !important;
  }
  .secTitle{
      margin-bottom:10px;
      margin-top:25px;
      font-family:YekanBold;
      margin-right:10px;
      font-size:18px ;
  }

  .btn{
      font-size: 12px !important;
  }
  .NormalBtn{

    font-size: 12px;
    
   }
}
@media only screen and (max-width: 576.98px) {


  
}

@media only screen and (max-width: 356.98px) {

  

}