.newInvoice{

    position: fixed;
    top: 0;
    z-index: 12;
    bottom: 0;
    left: 0;
    
    right: 0;
    transition: 0.5s ease-in-out all;
    z-index: 1001 !important;
    background-color: rgb(249, 249, 249);
}
.topSection{
    width: 100%;
    top: 0px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-bottom:2px solid rgb(138, 138, 138) ;
    display: flex;
    align-items: center;
}
.backBtn{
    padding: 20px 25px 20px 34px;
    border-right:2px solid rgb(138, 138, 138) ;
    transition: 0.2s all ease-in-out;
}
.backBtn:hover{

    background-color: rgb(182, 182, 182);
}
.topTitle{
    position: absolute;
    right: 20px;
    font-family: YekanBold;
    font-size: 25px;
}
.formDiv{
    max-width: 600px;
    width: 100%;
    text-align: right;
    height: 100%;
    padding: 0px;

    overflow-y: scroll !important;
    overflow-x: none;
    margin:0px auto 0px auto;
}
.btnDiv{
    margin-top: 10px;
    text-align: right;
    padding: 5px 15px 20px 15px;

}


.topTitleDiv{
    width: 100%;
    border-bottom: solid 2px rgb(181, 181, 181);
    text-align: right;
    margin-top: 5px;
}
.preInvoice{
    font-family:YekanBold;
    display: inline-block;
    font-size: 20px;
    
    padding: 6px 6px 6px 0px;
}
.editIcon{
    float: left;
    display: flex;
    cursor: pointer;
    margin-top: 0px;
    padding: 6px;
    transition: all 0.2s ease-in-out;
}
.editIcon:hover{
    color: rgb(116, 116, 116);
}




.fadeIn{

    animation: openModal ease-in-out 0.3s forwards;
}
.fadeOut{
    animation: closeModal ease-in-out 0.2s forwards;

}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);

    }
    50% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes closeModal {
    0% {

        opacity: 1;
        transform: translateY(0%);

    }
    50% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.secTitle{
    margin-bottom:10px;
    margin-top:25px;
    font-family:YekanBold;
    margin-right:10px;
    font-size:20px;
}
.submitBtn{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    border-radius: 10px;
    max-width: 130px;
    width: 100%;
}
.submitBtn:hover{
    background-color: rgb(54, 54, 54);
    color: aliceblue;
    padding: 10px 0px 10px 0px;
}
.callBtn{
    background-color: rgb(0, 225, 101);
    color: rgb(0, 0, 0);
    padding: 10px 30px 10px 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.callBtn:hover{
    background-color: rgb(63, 239, 142);
    color: rgb(0, 0, 0);
    padding: 10px 30px 10px 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.btnDiv{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
}


.btm{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 4px;
    color: rgb(247, 247, 247);
}
.btm button{
    border: none;
    padding: 5px 5px 5px 5px !important;
    height: 100%;
    transition: 0.2s all ease-in-out;
    font-family: YekanBold;
    font-size: 14px !important;
}

.btm button:hover{
    background-color: rgb(210, 210, 210);
}

.callBtnTitle{
    display:flex;
    justify-content:center;
    padding:0px 10px 10px 0px;
    align-content:center;
     align-items:center;
}
.callBtnDiv{
    display:flex;
    margin:10px 10px 10px 0px ;
    justify-content:center ;
    align-items:center;
}

@media only screen and (max-width: 1200.98px) {

}


@media only screen and (max-width: 992.98px) {

    
}

@media only screen and (max-width: 768.98px) {
    .topSection{
        width: 100%;
        top: 0px;
        position: relative;
        border-bottom:2px solid rgb(138, 138, 138) ;
        display: flex;
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .backBtn{
        padding: 12px 25px 12px 34px;
        border-right:2px solid rgb(138, 138, 138) ;
        transition: 0.2s all ease-in-out;
    }
    .backBtn:hover{
        background-color: rgb(182, 182, 182);
    }
    .topTitle{
        position: absolute;
        right: 20px;
        font-size: 20px;
        font-family: YekanBold;
        
    }
    .formDiv{
        max-width: 600px;
        width: 100%;
        text-align: right;
        height: 100%;
        overflow-y: scroll !important;
        overflow-x: none;
        padding: 0px 20px 30px 20px;
        margin:0px auto 0px auto;
    }
    .arrowIcon{
        font-size: 22px !important;
    }
    .secTitle{
        margin-bottom:10px;
        margin-top:25px;
        font-family:YekanBold;
        margin-right:10px;
        font-size:18px ;
    }

    .btn{
        font-size: 12px !important;
    }

    .callBtnDiv{
        display: block;
        margin:10px 0px 10px 10px !important;
        text-align: center;
    }
    
    .callBtnTitle{
        width: 100%;
        display: block;
        align-content:center;
        align-items:center;
        font-size: 15px;
    }
 }
 @media only screen and (max-width: 576.98px) {


    
 }

 @media only screen and (max-width: 356.98px) {

    

 }